<div class="main">

	<h1>Season One Episodes <%= current_user ? current_user.username : "(not logged in)" %> </h1>

	<%= button_to "Log out", auths_path, method: :delete %>

	<% @episodes.each do |e| %>

		<div class="episode">
			<%= e.number %> -- <%= e.title %>
			<%= link_to "X", e, {method: :delete} %>
			<%= button_to "X", e, {method: :delete} %>
		</div>
		<div class="details">
			Directed by <%= e.directed_by %>. First aired on <%=e.first_aired.strftime '%B %d, %Y' %>.
		</div>

	<% end %>

</div>